#gameMode {
  #titleScreen {
    margin-top: 10%;

    h1 {
      font-size: 90px;
      text-align: center;
    }

    p {
      margin-top: 0px;
      white-space: pre;
      text-align: center;
      line-height: 22px;
      font-family: Coda;
      font-size: 20px;
      letter-spacing: 3px;
      align-self: center;
    }
  }
}
