#gameMode {
  #titleScreen {
    margin-top: 60px;

    h1 {
      font-size: 90px;
      text-align: center;
    }

    p {
      margin-top: 0px;
      white-space: pre;
      text-align: center;
      line-height: 22px;
      font-size: 20px;
      letter-spacing: 3px;
      align-self: center;
    }

    a.continue {
      display: block;
      font-size: 40px;
      text-align: center;
      letter-spacing: 8px;
      margin-top: 90px;
    }
  }

  #simpleScreen {
    p {
      width: 75%;
      margin: auto;
      margin-top: 100px;
    }

    .outputText {
      margin-top: 40px;
    }

    #commands {
      display: inline-block;
      text-align: center;
      margin-top: 50px;
      width: 100%;

      li {
        border: 1px solid white;
        list-style: none;
        display: inline-block;
        text-align: initial
      }

      p {
        margin: 10px;
        width: 100%;
      }
    }
  }
}
