/* general styles */
body
{
    background-color: #000;
    color: #999;
}

#titleScreen
{
    position: relative;
}

#titleScreen h1
{
    font-family: 'Audiowide', sans;
    font-size: 250px;
    letter-spacing: -.1em;
    display: block;
    margin: 0em;
    margin-left: .3em;
}

#titleScreen #firstRow
{
    margin-top: 0em;
}

#titleScreen #secondRow
{
    margin-top: -0.5em;
}
