/**
 * titleMode
 */
#titleMode
{
    position: relative;
    margin-left: 10%;

    h1
    {
        font-family: 'Audiowide', sans;
        font-size: 250px;
        letter-spacing: -.1em;
        display: block;
        margin: 0em;
    }

    #firstRow
    {
        margin-top: 0em;
    }

    #secondRow
    {
        margin-top: -0.5em;
    }

    #continueMessage
    {
        margin-top: 60px;
        display: none;

        p {
            font-family: 'Audiowide', sans;
            letter-spacing: -.1em;
            font-size: 30px;
        }
    }
}



