<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Make it So! by hi-scor.es</title>
        <link href="http://fonts.googleapis.com/css?family=Audiowide|Coda|Orbitron", rel="stylesheet", type="text/css">
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <link rel="stylesheet" type="text/css" href="css/{{ controller }}/{{ controller }}.css">
    </head>
    <body>
		<div id="main">
        Make It So.
		</div>
		<div id="ship-data" data-id="{{ ship.id }}"></div>
    </body>
    <script type="text/javascript" data-main='js/{{ controller }}/main.js' src="bower_components/requirejs/require.js"></script>
</html>


