<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Make it So! by hi-scor.es</title>
        <link href="http://fonts.googleapis.com/css?family=Audiowide|Coda|Orbitron", rel="stylesheet", type="text/css">
        <link rel="stylesheet" type="text/css" href="css/main.css">
    </head>
    <body>
        <div id="titleScreen">
            <h1 id="firstRow">Make</h1>
            <h1 id="secondRow">It So</h1>
        </div>
        <div id="ship-data" data-id="{{ ship.id }}"></div>
    </body>
    <script type="text/javascript" data-main='js/main.js' src="bower-components/requirejs/require.js"></script>
</html>


