.controls {
  #dm_button {
    border: 1px solid #FFF;

    &.new {
      animation: 1s linear 0s infinite alternate pulse_white;
    }
  }
}

@keyframes pulse_white {
  0% {
    border-color: #666;
    color: #666;
  }
  100% {
    border-color: #FFF;
    color: #FFF;
  }
}

